* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}

body {
    height: 100vh;
    background: linear-gradient(to right,#AACAEF,#FDE7F9);
}

.container {
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
    padding-top: 100px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#board {
    border: 2px solid black;
}

.play-btn {
    background: #9796f0;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}